<!DOCTYPE html>
<html>
<head>
  <title>WasteMemory</title>
  <%= stylesheet_link_tag    "waste-memory/application", :media => "all" %>
  <%= javascript_include_tag "waste-memory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
